src/*
dist/*
pyproject.toml
MANIFEST.in
setup.cfg
setup.py
configPP.py
configPPplots.py
configPPinduct.py
*/PP*.py
*~
.DS_Store
*.asv
/*.eps
/*.fig
/*.dat
/*.png
/*.txt
*pycache*
*.mat
*.csv
*.tab
*.log
*.bm
startup.m
