---
source_file: "test_suite.py"
type: "code"
community: "Parameter Import & Runs"
location: "L49"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/Parameter_Import_&_Runs
---

# TestResults

## Connections
- [[.__init__()]] - `method` [EXTRACTED]
- [[.add_fail()]] - `method` [EXTRACTED]
- [[.add_pass()]] - `method` [EXTRACTED]
- [[.add_warn()]] - `method` [EXTRACTED]
- [[.summary()]] - `method` [EXTRACTED]
- [[main()_1]] - `calls` [EXTRACTED]
- [[test_suite.py]] - `contains` [EXTRACTED]

#graphify/code #graphify/EXTRACTED #community/Parameter_Import_&_Runs