sphinx>=7.2.6
sphinx-rtd-theme>=1.3.0
myst-parser>=2.0.0
sphinxcontrib-apidoc>=0.5.0
sphinxcontrib-matlabdomain>=0.21.4
numpy>=1.24.4
scipy>=1.11.4
mpmath>=1.3.0
matplotlib>=3.8.4
seafreeze>=0.9.6
moonmag>=1.7.5
gsw>=3.6.16
spiceypy>=6.0.0
cmasher>=1.6.3
hdf5storage>=0.1.19
